{% extends "layout/layout.html" %}

{% block heading %}
    {{super()}}
{% endblock %}
{% block content %}

{% assets "react_js" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets%}
    <p>This is to demo react</p>
    <div id="content"></div>
    <script type="text/jsx">

      var realPython = React.createClass({
        render: function() {
          return (<p>This was rendered in React!</p>);
        }
      });

      ReactDOM.render(
        React.createElement(realPython, null),
        document.getElementById('content')
      );

    </script>
{% endblock %}
